/* Reset básico */
* {
  margin: 0;                      /* Elimina márgenes por defecto de todos los elementos */
  padding: 0;                     /* Elimina padding por defecto de todos los elementos */
  box-sizing: border-box;         /* Hace que width y height incluyan padding y borde */
  font-family: Arial, sans-serif; /* Fuente por defecto */
}

/* Contenedor del navbar */
#navbar {
  display: flex;               /* Activa flexbox para alinear elementos en fila */
  align-items: center;         /* Centra verticalmente los elementos dentro del navbar */
  position: relative;          /* Permite que los elementos absolute dentro se posicionen respecto al navbar */
  padding: 10px 20px;          /* Espacio interno arriba/abajo y a los lados */
  background-color: #db6f0a; /* Color de fondo naranja */
}

/* Ajustes de logo y nombre de tienda */
#logo {
  display: flex;           /* Flex para alinear imagen y texto del logo en línea */
  align-items: center;     /* Centra verticalmente la imagen y el nombre */
  gap: 10px;               /* Espacio entre imagen y texto */
}

#logo img {
  height: 50px;            /* Altura fija para el logo */
}

#logo a {
  align-content: center;
  color: white;          /* Color del texto */
  font-size: 1.5rem;       /* Tamaño de fuente */
  font-weight: bold;       /* Negrita */
  text-decoration: none;
}

/* Menú centrado */
.menu-items {
  display: flex;            /* Flex para poner los items en fila */
  gap: 20px;                /* Espacio entre los items */
  position: absolute;       /* Posiciona el menú respecto al navbar */
  align-items: center;      /* Centra verticalmente los items */
  left: 37%;                /* Hace que los items en .menu-items se centren adecuadamente en la barra, comenzando desde un punto en concreto*/
}

.menu-items a {
  color: white;          /* Color de los enlaces */
  text-decoration: none;   /* Quita subrayado que tendria si no*/
  font-weight: bold;       /* Negrita */
}

  /*-------------------------------------------------------------------------------------------------*/

/* Ajustes del main y aside */
#contenido {
  display: flex;               /* Flex para main y aside en fila */
  gap: 30px;                   /* Espacio entre main y aside */
  justify-content: center;     /* Centrarlos horizontalmente */
  background-color: #f4f4f4; /* Fondo gris claro */
}

/* Main */
#contenido main, 
#contenido >main{
  flex: 1 1 0;               /*espacio asignado al contenido*/
  max-width: 900px;          /* Máximo ancho */
  padding: 24px;             /* Espacio interno */
}

/* Aside */
#contenido aside,
#contenido > aside{
  flex: 0 0 300px;           /*espacio asignado a la foto*/
  padding: 20px;             /* Espacio interno */
}

aside section {
  padding: 10px;           /*espacio entre las secciones del aside*/
}

aside h3 {
  padding-bottom: 5px;     /*espacio debajo de los h3*/
}

aside li {
  padding: 2px;            /*espacio entre los items de lista del aside*/
}

/* Ajustes visuales menores */
#contenido main section { 
  padding-bottom: 2rem;     /*espacio entre las secciones*/
}

#contenido main h2 { 
  color: #db6f0a;         /* color de todos los h2 en la seccion contenido */
  margin-bottom: .6rem;     /*espacio de los h2 */
}

#contenido .galeria { 
  display:flex;             /*pone las fotos en fila*/
  flex-wrap:wrap;           /* las imagenes se ajustan a varias lineas si no entra en una */
  gap:1rem;                 /*espacio entre imagenes */
  justify-content:center;   /* centra horizontalmente las fotos */
}

#servicios li, #proceso li, #contacto-rapido li, #horario li {
  margin-left:20px;         /*deja un espacio a la izquierda en las listas de las secciones servicios, proceso y contacto-rapido */
}

#contenido .galeria img { 
  width:30%;                       /*ancho de las fotos*/
  min-width:160px;                 /*minimo de ancho de las fotos*/
  padding: 5px;                    /*Espacio interno*/
}

/* Footer */
footer {
  position: fixed;                 /*Hace que el footer no se pueda mover*/
  bottom: 0;                       /*Lo pone pegado a la parte de abajo*/
  left: 0;                         /*Lo pega a la izquierda*/
  width: 100%;                     /*Coge el 100% del area*/
  background: #ff9900;           /*Color del fondo del footer*/
  color: white;                  /*Color de la letra*/
  text-align: center;              /*Alinea el texto del footer en el cetro horizontalmente*/
  padding: 20px;                   /*Espacio interno de los elemetos*/
}